<div class="container">
    <div class="row">
        <div class="col">
            <div class="list-group">
                <div class="list-group-item">
                    <strong>Nombre:</strong> {{pilotos.name}}
                </div>
                <div class="list-group-item">
                    <strong>Height:</strong> {{pilotos.height}}
                </div>
                <div class="list-group-item">
                    <strong>Mass:</strong> {{pilotos.mass}}
                </div>
                <div class="list-group-item">
                    <strong>Hair Color:</strong> {{pilotos.hair_color}}
                </div>
                <div class="list-group-item">
                    <strong>Skin Color:</strong> {{pilotos.skin_color}}
                </div>
                <div class="list-group-item">
                    <strong>Eye Color:</strong> {{pilotos.eye_color}}
                </div>
                <div class="list-group-item">
                    <strong>Birth Year:</strong> {{pilotos.birth_year}}
                </div>
                <div class="list-group-item">
                    <strong>Gender:</strong> {{pilotos.gender}}
                </div>
                <div class="list-group-item">
                    <strong>Homeworld:</strong> {{pilotos.homeworld}}
                </div>
            
            </div>
        </div>
    </div>
</div>
