<div class="container-fluid">
  <div class="row d-flex justify-content-between">
    <!-- Estilizar contenido -->
    <p class="text-wrap fw-bold fs-3 badge bg-dark">{{texto | titlecase}}</p>
    <div class="col-4 d-flex align-items-start">
      <img src="favicon.ico" class= "img-fluid" alt="">
    </div>
    <!-- fin -->
    <div class="col col-md-2 d-flex justify-content-center align-items-center">
      <img src="../assets/img/starwarslogo.png" routerLink="" class="img-fluid" alt="">
    </div>
    
    <div class="col-4 d-flex align-items-start justify-content-end">
      <div class="btn-group d-flex justify-content-end">
        
        <button *ngIf="!registrado; else salir" class="btn btn-outline-dark" routerLink="login">
          Log in
        </button>
        <button class="btn btn-outline-dark" routerLink="signUp">
          Sign up
        </button>

        <ng-template #salir>
          <button class="btn btn-outline-dark" (click)="logOut()">
            Log out
          </button>
        </ng-template>
      </div>
    </div>
    

  </div>

  <app-navbar></app-navbar>
  
  <div class="row-12 d-flex justify-content-center bgbody min-vh-100">
    <div class="col-9 mt-3" [@routerAnimation] = "prepareRoute(outlet)">
      <router-outlet #outlet = "outlet"></router-outlet>
    </div>
  </div>
</div>


