<div class="row" *ngIf="!infoShip; else info">
    <div class="alert alert-info">
        cargando...
    </div>
</div>

<ng-template #info class="container">
    <div class="row">
        
            <img [src]="imgShip" class="img-fluid" alt="">
            <div class="col-12 ms-5">
                <h1 class="text-white">{{infoShip.name}}</h1>
            </div>
        
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-5 m-1 list-group-item">
            <strong>Model:</strong> {{infoShip.model}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Manufacturer:</strong> {{infoShip.manufacturer}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Cost in credits:</strong> {{infoShip.cost_in_credits}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Length:</strong> {{infoShip.length}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Max atmosphering speed:</strong> {{infoShip.max_atmosphering_speed}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Crew:</strong> {{infoShip.crew}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Passengers:</strong> {{infoShip.passengers}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Cargo capacity:</strong> {{infoShip.cargo_capacity}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Consumables:</strong> {{infoShip.consumables}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Hyperdrive rating:</strong> {{infoShip.hyperdrive_rating}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>MGLT:</strong> {{infoShip.MGLT}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Starship class:</strong> {{infoShip.starship_class}}
        </div>
        <div class="col-5 m-1 list-group-item" >
            <div *ngFor="let piloto of infoPilots; let i=index" class="m-1">
                <strong>Pilot {{i+1}}:</strong> <div class="btn btn-outline-secondary btn-sm" (click)="getPiloto(piloto)"> {{piloto}}</div> 
            </div>
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Films:</strong> {{infoShip.films}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Created:</strong> {{infoShip.created}}
        </div>
        <div class="col-5 m-1 list-group-item">
            <strong>Edited:</strong> {{infoShip.edited}}
        </div>
    </div>
        
</ng-template>
